.hidden {
    display: none;
}

h1 {
    text-align: center;
    font-weight: 500px;
    border-style: dotted;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border-width: 5px;
    background-color: goldenrod;
}

body {
    background-image: url("img/pizza.jpeg");
    background-size: cover;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

#formHead {
    font-size: large;
    font-weight:bold;
    font-style: italic;
}

#formDiv {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-style: solid;
    width: 200px;
    padding: 10px;
    background-color: goldenrod;
}

div#kitty {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#totalDiv {
    font-size: larger;
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: goldenrod;
}

#dance {
    text-align: center;
}