.hidden {
    display: none;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-color: palegoldenrod;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}